@import '../../styles/constants/index.scss';
@import '../../styles/_mixins.scss';

.slider {
  width: 100%;
}

.font-icon-wraap {
  &:before {
    display: none;
  }
  .font-icon {
    color: black;
    font-size: 30px;
  }
}
