@import '../../styles/constants/index.scss';
@import '../../styles/_mixins.scss';

.page-title {
  font-weight: $fontWeightBold;
  font-size: 3rem;

  &--margin-bottom {
    margin-bottom: 1.5rem;
  }
}
