@import url('https://fonts.googleapis.com/css?family=Montserrat:100,300,400,500,700,900&display=swap');

@font-face {
  font-family: 'Material Icons';
  src: url('../assets/fonts/MaterialIcons-Regular.woff2') format('woff2'),
    url('../assets/fonts/MaterialIcons-Regular.woff') format('woff'),
    url('../assets/fonts/MaterialIcons-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
