@import '../../../styles/constants/index.scss';
@import '../../../styles/_mixins.scss';

.simple-input {
  appearance: none;
  border: 1px solid $borderGrey;
  border-radius: $borderRadius;
  height: 48px;
  padding: 0 16px;
  width: 100%;

  &__wrapper {
    position: relative;
  }

  &__icon-wrapper {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
