@import '../../styles/constants/index.scss';
@import '../../styles/_mixins.scss';

.header {
  height: 80px;
  background-color: $royalBlue;
  display: flex;
  align-items: center;

  &__container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    font-size: 30px;
    font-weight: 700;
    color: $white;
    text-transform: uppercase;
  }
}
