/**
 * Application initial colors
 */

$black: #000000;
$white: #FFFFFF;

$primaryYellow: #FFE400;

$backgroundPrimary: #2A2A2A;
$backgroundSecondary: #E3E3E3;


$primaryGrey: #FCFCFC;
$primaryLightGrey: #F0F0F0;
$primaryDarkGrey: #444444;
$primaryMiddleGrey: #757575;