/**
 * Application initial colors
 */

$black: #0d0d0d;
$white: #ffffff;

$linkHoverColor: $black;
$bodyColor: $black;
$linkColor: $black;
$bodyBg: $white;

$textPrimary: #ffffff;
$textSecondary: #2c4058;
