
$black: #0d0d0d;
$white: #ffffff;
$red: #eb6363;
$royalblue: #5199d3;
$backgroundSilver:#C9C3C3;

// $linkHoverColor: $black;
// $bodyColor: $black;
// $linkColor: $black;
// $bodyBg: $white;


$textPrimary: #000000;
// $textSecondary: #2c4058;
// $textBrightGrey:#4B5562;
// $textMayaBlue:#55B7FF;
// $iconSlateBlue:#7E5AFF;

