// The Standard Breakpoints

$deviceSizeBS: 1920px;
$deviceSizeLG: 1366px;
$deviceSizeLS: 1199px;
$deviceSizeXMD: 1024px;
$deviceSizeMD: 991px;
$deviceSizeSM: 767px;
$deviceSizeXS: 575px;
$deviceSizeXXS: 460px;
$deviceSizeXXXS: 375px;




