@import '../../styles/index.scss';

.content-container {
  padding: 0 24px;
  // width: 100%;

  &__inner-wrapper {
    margin: 0 auto;

    @media screen and (max-width: $deviceSizeLG) {
      max-width: 1200px;
    }
  }
}
