body{
  max-width: 100vw;
  min-height: 100vh;
  min-height: 200%;
  background-color: #3399cc;
  font-family: Lucida Sans Unicode”, “Lucida Grande”, sans-serif;
  font-size: 100%;
  color: white;

  
}