/**
 * Application initial colors
 */

$black: #0d0d0d;
$white: #ffffff;

$linkHoverColor: $black;
$bodyColor: $black;
$linkColor: $black;
$bodyBg: $white;

$royalBlue: #5474fd;

$borderGrey: #e2e2e2;

$red: red;
